<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DoctorServlet</servlet-name>
        <servlet-class>com.servlet.DoctorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <servlet-class>com.servlet.DoctorLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentServlet</servlet-name>
        <servlet-class>com.servlet.AppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegisterServlet</servlet-name>
        <servlet-class>com.servlet.PatientRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientLoginServlet</servlet-name>
        <servlet-class>com.servlet.PatientLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <servlet-class>com.servlet.AdminRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AppointmentWelcomeServlet</servlet-name>
        <servlet-class>com.servlet.AppointmentWelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatListDoc</servlet-name>
        <servlet-class>com.servlet.PatListDoc</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorServlet</servlet-name>
        <url-pattern>/DoctorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLoginServlet</servlet-name>
        <url-pattern>/DoctorLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentServlet</servlet-name>
        <url-pattern>/AppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegisterServlet</servlet-name>
        <url-pattern>/PatientRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientLoginServlet</servlet-name>
        <url-pattern>/PatientLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminRegisterServlet</servlet-name>
        <url-pattern>/AdminRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AppointmentWelcomeServlet</servlet-name>
        <url-pattern>/AppointmentWelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatListDoc</servlet-name>
        <url-pattern>/PatListDoc</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
